* {
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.carousel-item{
    background-color: aqua;
    height: 200px;
}

.card{
    background-color: yellow;
    height: 200px;
}

#div5{
    background-color: black;
    width: 250px;
    height: 500px;
}

.col-6{
    background-color: yellowgreen;
    height: 300px;
}

.col-7{
    background-color: red;
    height: 300px;
}

.col-8{
    background-color: blanchedalmond;
    height: 300px;
}

.col-9{
    background-color: darkcyan;
    height: 300px;
}

#title{
    background-color: goldenrod;
    padding: 15px 0px;
}

#title h1{
    color: white;
    font-size: 2rem;
}


#navbar{
    background-color: goldenrod;
}

#destaques{
    padding: 80px 0px;
}

#subdestaques{
    background-color: goldenrod;
    padding: 20px 0px;
}

.noticias{
    margin-top: 30px;
}
